[submodule "DisplacementImporterData/src/FromZ"]
	path = UDIMTextureImporterData/src/FromZ
	url = https://github.com/n-taka/FromZ
[submodule "DisplacementImporterData/src/eigen"]
	path = UDIMTextureImporterData/src/eigen
	url = https://gitlab.com/libeigen/eigen
